/* You can add global styles to this file, and also import other style files */

/*
    app variables
*/
:root {
  --main-font: 'Orbitron', sans-serif;
}

/* 
    app css reset
*/

body,
div,
p {
  margin: 0;
  padding: 0;
}
